@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
*body {
  margin: 0px;
  padding: 0px;
}

.container2 {
  width: 100%;
  border: none;
}
.main {
  width: 100%;
}
.nav {
  height: 80px;
  width: 100%;
}

.firstPart {
  max-width: 17%;
  padding: 0px;
}

.secondPart {
  max-width: 66%;
  padding: 0px;
}


.thirdPart {
  max-width: 17%;
  padding: 0px;
}
.menu {
  margin-left: 20px;
  width: 25px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
}
.cLogo {
  margin-left: 15px;
  width: 142px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
.cSearch {
  width: 15.59px;
  height: 15.59px;
  margin: auto 14.74px auto 0px;
  text-align: left;
  letter-spacing: 0px;
}
.sTitle2 {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.cBell {
  margin-top: auto;
  margin-bottom: auto;
  width: 22px;
  height: 22px;
}
.cUser {
  margin-left: 25px;
  margin-top: 18px;
}
.uName {
  margin-left: 15px;
  text-align: left;
  font-size: 16px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #000000;
  margin-top: 25px;
  width: 68px;
  height: 21px;
}
.cArraw {
  margin-left: 5px;
  margin-top: 20px;
}
.menu2 {
  width: 242px;
}

.left > a {
  margin-left: auto;
  margin-right: auto;
  width: 183px;
  height: 43px;
  padding: 0px;
  text-decoration: none;
  margin-top: 20px;
  padding-left: 20px;
}

.left > a:hover {
  background: #fff3f4 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.left > a:hover > span {
  color: red;
}

.left > a:active > span {
  color: red;
}

.sidebarMenu {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
}
.sidebarTitle {
  text-align: left;
  font: normal normal medium 30px Roboto;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: auto;
  margin-top: auto;
}
.activeBack {
  background: #fff3f4 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.activeTitle {
  color: red;
}
.rDown {
  width: 83%;
  background: #fafafa 0% 0% no-repeat padding-box;
  padding: 0px;
}
.dTitle {
  margin-top: 15px;
  margin-left: 50px;
  text-align: left;
  font: 30px Roboto;
  letter-spacing: 0px;
  color: #000000;
  font-style: bold;
}
.dRow {
  justify-content: space-evenly;
}
.leftCard {
 
}
.rightCard {
  
}
.card {
  
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 219px;
  height: 116px;
  margin: 0 15px;

}
.cIcon {
  width: 33px;
  height: 33px;
}
.cNumber {
  font: normal normal medium 25px/33px Roboto;
  font-weight: 500;
  letter-spacing: 0px;
  
  text-align: left;
  letter-spacing: 0px;
  color: #3e3e3e;
}
.cTitle {
  font-size: 15px;
}

.dsrow {
  margin-top: 20px;
  justify-content: space-around;
}
.dataGraph {
  width: 802px;
  height: 400px;
  
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.saleTitle {
  font: 29px Roboto;
  text-align: left;
  letter-spacing: 0px;
  color: #3e3e3e;
  font-style: bold;
}

.dataGraph > a {
  margin: 0px;
  padding: 0px;

  text-decoration: none;
  justify-content: flex-end;
  margin-right: 10px;
  color: #adadad;
}
.dataGraph > a:active {
  text-decoration: underline solid red;
  color: red;
}
.pieActive {
  color: red;
  text-decoration: underline solid red;
}
.graphImg {
  height: 300px;
  width: 800px;
}
.floatingl {
  float: left;
}
.floatingr {
  float: right;
}
.pieContainer {
  width: 385px;
  height: 398px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
}
.pieTitle {
  text-align: left;
  font: 29px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  max-width: fit-content;
}
.pieimage {
  height: 200px;
  width: 210px;
}

.cBox {
  width: 440px;
  padding: 0px;
  margin: 10px;
}

.dot1 {
  height: 15px;
  width: 15px;
  background-color: #c8242f;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 15px;
  width: 15px;
  background-color: #a2b86c;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 15px;
  width: 15px;
  background-color: #f16c20;
  border-radius: 50%;
  display: inline-block;
}
.dot4 {
  height: 15px;
  width: 15px;
  background-color: #ebc844;
  border-radius: 50%;
  display: inline-block;
}
.cBox .col span {
  text-align: left;
  font: 15px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  margin-right: 10px;
}
.invoice {
  float: left;
  width: fit-content;
  margin-left: 30px;
}
.view {
  width: fit-content;
  color: red;
  margin-left: auto;
  margin-right: 30px;
  font-size: 18px;
}
.invoiceTable {
  width: 95%;
  margin: 20px;
}

.invoiceTable > tr > th {
  text-align: left;
  font: 15px Roboto;
  letter-spacing: 1.5px;
  color: #adadad;
}

.status {
  justify-content: center;
}

.paid {
  background: #ebffef 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3cdd5f;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.failed {
  background: #fff5f5 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #ff4545;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.pending {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #bababa;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
