@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
*body {
  margin: 0px;
  padding: 0px;
}

.container2 {
  width: 100%;
  border: none;
}
.main {
  width: 100%;
}
.nav {
  height: 80px;
  width: 100%;
  margin: 0px;
}

.firstPart {
  max-width: 242px;
  padding: 0px;
}

.secondPart {
  max-width: 1043px;
  padding: 0px;
}

.thirdPart {
  justify-content: flex-end;
  max-width: 275px;
  padding: 0px;
}
.menu {
  background-image: url("../images/menu-bar.svg");
  background-repeat: no-repeat;
  margin-left: 20px;
  width: 25px;
  height: 25px;
  margin-top: auto;
  margin-bottom: auto;
}
.cLogo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 15px;
  width: 142px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}
.cSearch {
  width: 15.59px;
  height: 15.59px;
  margin: auto 14.74px auto 0px;
  text-align: left;
  letter-spacing: 0px;
}
.sTitle2 {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.cBell {
  margin-top: auto;
  margin-bottom: auto;
  width: 22px;
  height: 22px;
}
.cUser {
  margin-left: 25px;
  margin-top: 18px;
}
.uName {
  margin-left: 15px;
  text-align: left;
  font-size: 16px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #000000;
  margin-top: 25px;
  width: 68px;
  height: 21px;
}
.cArraw {
  margin-left: 5px;
  margin-top: 20px;
}
.menu2 {
  max-width: 15.52%;
}
.menuOption {
  padding: 0px;
}
.left {
  padding: 0px;
}

.left > a {
  margin-left: auto;
  margin-right: auto;
  width: 183px;
  height: 43px;
  padding: 0px;
  text-decoration: none;
  margin-top: 20px;
  padding-left: 20px;
  border: none;
}

.left > a:focus {
  background: #fff3f4 0% 0% no-repeat padding-box;
  border-radius: 5px;
}

.left > a:focus > span {
  color: red;
}

a:focus > .sidebarMenu {
  filter: invert(26%) sepia(74%) saturate(2321%) hue-rotate(337deg)
    brightness(78%) contrast(103%);
}

.sidebarMenu {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
}
.sidebarTitle {
  text-align: left;
  font: normal normal medium 30px Roboto;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: auto;
  margin-top: auto;
}

.rDown {
  max-width: 84.48%;
  background: #1d1a1a 0% 0% no-repeat padding-box;
  /* background: #fafafa 0% 0% no-repeat padding-box; */
  padding: 0px;
}
.dTitle {
  margin-top: 15px;
  margin-left: 50px;
  text-align: left;
  font: 30px Roboto;
  letter-spacing: 0px;
  color: #000000;
  font-style: bold;
}
.dRow {

  justify-content: space-evenly;
}
.leftCard {
}
.rightCard {
}
.card {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 219px;
  height: 116px;
  margin: 0 15px;
}
.cIcon {
  width: 33px;
  height: 33px;
}
.cNumber {
  font: 25px Roboto;
  font-weight: 500;
  letter-spacing: 0px;

  text-align: left;
  letter-spacing: 0px;
  color: #3e3e3e;
}
.cTitle {
  font-size: 15px;
}

.dsrow {
  margin-top: 20px;
  justify-content: space-evenly;
}
.dataGraph {
  max-width: 802px;
  height: 400px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
}
.saleTitle {
  font: 29px Roboto;
  text-align: left;
  letter-spacing: 0px;
  color: #3e3e3e;
  font-style: bold;
}

.dataGraph > a {
  margin: 0px;
  padding: 8.9px;

  text-decoration: none;
  justify-content: flex-end;
  margin-right: 10px;
  color: #adadad;
}
.dataGraph > a:active {
  text-decoration: underline solid red;
  color: red;
}
.datagraphActive {
  color: red;
  text-decoration: underline solid red;
}
.graphImg {
  margin-left: 20px;
  max-height: 300px;
  max-width: 800px;
}
.floatingl {
  float: left;
}
.floatingr {
  float: right;
}
.pieContainer {
  padding: 0px;
  max-width: 385px;
  height: 398px;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 20px;
}
.pieTitle {
  margin-left: 29px;
  text-align: left;
  font: 29px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  max-width: fit-content;
}
.pie-part{
  flex-direction: column;
}
.pie-part > .row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pieimage {
  height: 200px;
  width: 210px;
  margin-left: 75px;
}

.cBox {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-left: 49px;
  margin-top: 27px;
  max-width: 385px;
  padding: 0px;
}
.cBox2 {
  margin-top: 18px;
}

.first-country {
  /* max-width: 130px; */
}

.dot1 {
  height: 15px;
  width: 15px;
  background-color: #c8242f;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
  height: 15px;
  width: 15px;
  background-color: #a2b86c;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 15px;
  width: 15px;
  background-color: #f16c20;
  border-radius: 50%;
  display: inline-block;
}
.dot4 {
  height: 15px;
  width: 15px;
  background-color: #ebc844;
  border-radius: 50%;
  display: inline-block;
}
.cBox .col span {
  text-align: left;
  font: 15px Roboto;
  letter-spacing: 0px;
  color: #3e3e3e;
  margin-right: 10px;
}
.invoice {
  float: left;
  width: fit-content;
  margin-left: 30px;
}
.view {
  width: fit-content;
  color: red;
  margin-left: auto;
  margin-right: 30px;
  font-size: 18px;
}
.invoiceTable {
  width: 95%;
  margin: 20px;
}

.invoiceTable > tr > th {
  text-align: left;
  font: 15px Roboto;
  letter-spacing: 1.5px;
  color: #adadad;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.tableData{
  text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
}

.status {
  justify-content: center;
}

.paid {
  background: #ebffef 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #3cdd5f;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.failed {
  background: #fff5f5 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #ff4545;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.pending {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: left;
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #bababa;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* media query */

@media screen and (max-width: 1450px) {
  .graphImg {
    width: 583px;
    height: 250px;
    margin-left: 10px ;
  }
  .dataGraph{
    max-width: 630px;
  }
  
}
@media screen and (max-width: 1200px) {
  .graphImg {
    width: 466px;
    height: 200px;
  }
  .dataGraph{
    max-width: 550px;
  }
  
}

@media screen and (max-width:1220px){
    .card{
      margin-bottom: 20px;

    }
  
}
@media screen and (max-width: 1120px) {
  .graphImg {
    width: 700px;
    height: 300px;
  }
  .dataGraph{
    margin-right: 20px;
    max-width: 90%;
  }
  .pieContainer{
    margin-top: 20px;
    max-width: 90%;
  }
  .pie-part{
    flex-direction: row;
  }

  .pie-part> .row {
    display: flex;
    flex-direction: column;
  }

  
}

@media screen and (max-width: 850px) {
  .menu2{
    max-width: 60px;
     }
     .sidebarTitle{
      display: none;
     }

     .graphImg{
      width: 600px;
      height: 250px;
     }
  
}

@media screen and (max-width: 786px) {
  .cLogo{
    background-image: url("../images/mobile-header-logo.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
  }

  .sidebarTitle{
    display: none;
  }
  .second-row{
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
  }

  .menu2{
    max-width: 60px;
  }

  .row .left {
    
  }

  .rDown{
    max-width: 726px;
  }

  .rightPart{
    margin-left: 15px;
    margin-right: 15px;
  }
  .dTitle{
    margin-left: 25px;
    font-size: 25px;
  }
  .column{
    margin-top: 20px;
    margin-left: 10px;
  }

  .oneColumn{
    margin-left: 10px;
  }
  .invoiceTable{
    width: 100vw;
    display: block;
  }

  .graphImg{
    max-width: 630px;
    height: 275;
  }
 
}

@media screen and (max-width: 760px) {
  .menu2{
    display:none;
  }
  .sidebarTitle{
    display: none;
  }
  
}

@media screen and (max-width:670px) {
  .graphImg{
    
    max-width: 480px;
    max-height: 220px;

  }
  .menu2{
    display:none;
  }
  .sidebarTitle{
    display: none;
  }
  .rDown{
    max-width: 100%;
  }
}
@media screen and (max-width:460px){
  .uName{

    display: none;
  }
}

@media screen and  (max-width:360px){
  
  .nav{
    height: 50px;
  }
  

  .cBell{
    height: 15px;
    width: 15px;
  }
  .cUser{
    width: 30px;
    height: 30px;
  }
  .cArraw{
    display: none;
  }
  
  
  .uName{
    display: none;
  }

  .second-row{
    flex-direction: column;
  }
  .menu2{
    width: 100%;
    display: flex;
  }
  
  .menuOption{
    max-width: 85px;
  }
  .graphImg{
    max-width: 350px;
    max-height: 150px;
    margin-left: -10px;
    
  }
  .dataGraph{
    max-width: 95%;
  }
  .pieContainer{
    max-width:95%;

  }
  .pie-part{
    flex-direction: column;
  }
  .invoiceTable{
    width: 100vw;
    display: block;
  }
  
}

